.botaoSubmit{
    width: 150px;
    margin: 0 auto;
    background-color: transparent;
    padding: .7rem;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(160deg, var(--secondary-lightiest) 31%, var(--secondary) 95%);
    color: var(--dark-font);
    font-weight: bold;
}

/* Hover */
.botaoSubmit:hover{
    background-image: linear-gradient(160deg, var(--secondary) 31%, var(--secondary-lightiest) 95%);
    color: var(--light-font);
}

/* Medias */
@media screen and (max-width: 355px){
    .botaoSubmit{
        width: 80%
    }
}