.container{
    background-color: var(--primary-lightiest);
    padding: 2rem;
}

.filtros{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem 0;
}

/* Medias */
