.footer{
    width: 100%;
    padding: 1em;
    background-color: var(--primary-lightiest);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-font);
}

.assinatura{
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.ancora{
    color: var(--light-font)
}

/* Hover */
.ancora:hover{
    color: var(--prom)
}

