.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quantidade{
    padding-top: 2rem;
    color: var(--secondary);
    font-size: 2rem;
    font-weight: bold;
}

/* Media Queries */
@media screen and (max-width: 400px){
    .quantidade{
        font-size: 1.8rem;
    }
}