.header{
    width: 100%;
    background-color: var(--primary);
    position: fixed;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em
}

.logo{
    font-size: 36px;
}