.header{
    width: 100%;
    background-color: var(--primary);
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem
}

.logo{
    font-size: 36px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem
}

.link{
    color: var(--light-font);
    font-weight: bold;
}

/* Hover */
.link:hover{
    color: var(--secondary-lightiest)
}