.registro{
    width: 100%;
    height: auto;
    border: solid 1px var(--shadow);
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    background-color: var(--secondary);
    color: var(--light-font);
}

.nome, .endereco, .equipe{
    text-transform: capitalize;
}

/* Hover */
.registro:hover{
    background-color: var(--secondary-lightiest);
    color: var(--dark-font)
}

